.container { max-width: 800px; margin: 2rem auto; background-color: aquamarine;}
.employee-form { display: flex; gap: 10px; margin-bottom: 20px; flex-wrap: wrap; }
.employee-form input, .employee-form select { padding: 8px; flex: 1; min-width: 150px; }
button { padding: 8px 16px; background-color: #4f5299; color: white; border: none; cursor: pointer; position: relative;}
.employee-table { width: 100%; border-collapse: collapse; margin-top: 20px; }
.employee-table th, .employee-table td { border: 1px solid #ddd; padding: 12px; text-align: left; }
.employee-table th { background-color: #40aea1; }